.FullPost {
  max-width: 80%;
  margin: 0 auto;
  color: #ffffff;
}

.FullPost__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -30px;
}

.FullPost__left,
.FullPost__right {
  padding: 0 0 30px 30px;
}

.FullPost__left {
  flex: 0 0 40%;
  max-width: 40%;
}

.FullPost__right {
  flex: 0 0 60%;
  max-width: 60%;
}

.FullPost__pic img,
.FullPost__right img {
  max-width: 100%;
}

.FullPost__pic img {
  border-radius: 20px;
  border: 5px solid #7a5131;
}

.FullPost__pic {
  max-width: 60%;
  margin: 0 auto 20px;
}

.FullPost__left h2 {
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
}

.FullPost__name {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: bold;
}

.FullPost__biography {
  font-size: 18px;
  font-weight: 500;
  background-color: gainsboro;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.FullPost__votes {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.FullPost__graph {
  background: #ffffff;
  /* background: gainsboro; */
  padding: 30px 20px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 20px;
  /* margin-left: -10px; */
}

.FullPost__graph_items {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  margin-left: -20px;
  min-height: 300px;
}

.FullPost__graph_col {
  flex: 0 0 12.5%;
  max-width: 12.5%;
  padding: 0 0 0 20px;
  align-self: flex-end;
}

.FullPost__graph_item {
  background: #9e9e9e;
  height: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  word-break: break-all;
  font-weight: bold;
  color: #000000;
}

.Actived {
  background: #41a46e;
}

.FullPost__graph_text {
  display: flex;
  justify-content: center;
  color: #000000;
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
  word-break: break-all;
  overflow: hidden;
}

.FullPost__graph_text span {
  margin-right: 5px;
  font-weight: normal;
}

.FullPost__graph_names {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  text-align: right;
  /* background: saddlebrown; */
}

.FullPost__graph_name {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #000;
  text-align: left;
  cursor: pointer;
}

.FullPost__graph_itemswr {
  flex: 1;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 0 10px;
}

.FullPost__graph_nameswr {
  padding-left: 10px;
}

.FullPost__graph_names {
  flex: 0 0 200px;
  max-width: 200px;
  height: 100%;
}

.Modal {
  height: 100%;
  position: relative;
}
.Modal div {
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
  padding: 30px;
}

.Modal h1 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 20px;
}

.Modal p {
  white-space: break-spaces;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  text-align: justify;
}

.Modal button {
  position: absolute;
  top: 10px;
  right: -50px;
  width: 30px;
  height: 30px;
  font-size: 25px;
  font-weight: bold;
  color: #000;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.Socials {
  max-width: 45%;
  margin: 30px auto 0;
  text-align: center;
}

.Socials__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -15px;
}

.Socials__col {
  flex: 0 0 70px;
  max-width: 70px;
  padding: 0 0 15px 15px;
}

.Socials__item {
  display: block;
  background: #ffffff;
  border-radius: 10px;
  transition: all 0.3s ease-in;
}

.Socials__item:hover {
  opacity: 0.6;
}

.Socials__item img {
  max-width: 100%;
  border-radius: 10px;
}

@media (max-width: 1366px) {
  .FullPost {
    max-width: 90%;
  }
}

@media (max-width: 991px) {
  .FullPost {
    max-width: 100%;
    padding: 0 30px;
  }

  .FullPost__left,
  .FullPost__right {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .FullPost__pic {
    max-width: 250px;
  }

  .Socials {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .FullPost__graph_names {
    flex: 0 0 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    flex-direction: row;
    align-items: flex-end;
  }
  .FullPost__graph_name {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 0 10px 10px;
    font-size: 15px;
  }
  .FullPost__graph_nameswr {
    padding-left: 0;
  }
  .FullPost__graph {
    flex-direction: column;
  }
  .FullPost__graph_col {
    flex: 0 0 25%;
    max-width: 25%;
    padding-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .Modal h1 {
    font-size: 20px;
    line-height: 30px;
  }
  .Modal p {
    font-size: 14px;
    line-height: 18px;
  }
  .Modal div {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .FullPost__left h2,
  .FullPost__name {
    font-size: 20px;
  }
  .FullPost__pic {
    max-width: 180px;
  }
  .FullPost__pic img {
    border-width: 5px;
  }
}
