.Posts {
  margin-bottom: 30px;
  padding: 20px;
}

.Posts__items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.Posts__col {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 0 30px 30px;
}

.Posts__item {
  transition: all 0.3s;
  padding: 20px;
  /* width: 250px; */
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.Posts__item:hover {
  transform: scale(1.1);
  /* padding: 30px;
  margin: 5px; */
}

.Posts__item:hover .Posts__supportText a {
  background-color: #ab6b35 !important;
  color: #ffffff;
}

.Posts__pic {
  position: relative;
  height: 150px;
  /* height: 100px; */
  max-width: 170px;
  width: 100%;
  margin: 0 auto 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 20px;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.Posts__picActive img {
  height: 150px;
  position: absolute;
  top: 0px;
  left: -10%;
  right: 0;
  bottom: 0;
  max-width: none !important;
}

.Posts__pic img {
  /* width: 150px;
  max-height: 150px;
  object-fit: contain; */
  max-width: 100%;
  border-radius: 20px;
  /* height: 100%;
  width: 100%; */
}

.Posts__name {
  display: flex;
  flex-direction: column;
  line-height: 25px;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.Posts__name span {
  color: rgba(0, 0, 0, 0.5);
  line-height: 15px;
  font-size: 13px;
}

.Posts__subscribers {
  margin-bottom: 5px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  line-height: 30px;
  font-size: 13px;
}

.Posts__profession {
  margin-bottom: 10px;
  white-space: normal;
  color: rgba(0, 0, 0, 0.8);
  line-height: 15px;
  font-size: 13px;
  font-weight: bold;
  min-height: 20px;
  overflow: hidden;
  text-transform: uppercase;
}

.Posts__supportText {
  margin-bottom: 10px;
}

.Posts__supportText div,
.Posts__supportText a {
  background-color: #f4a460;
  background-repeat: no-repeat;
  background-position: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  line-height: 20px;
  font-size: 12px;
  transition: all 0.3s;
}

.Posts__supportText a:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: #ab6b35 !important;
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  transform: scale(1.1);
}

.Posts__biography a,
.Posts__biography button {
  line-height: 15px;
  font-size: 13px;
  list-style: none;
  text-decoration: underline;
  color: #000000;
  transition: all 0.3s;
  background: none;
  cursor: pointer;
}

.Titles {
  /* margin-bottom: 60px; */
  padding: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
}

.Titles div {
  display: inline-block;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 10px;
}

.Titles h2 {
  line-height: 30px;
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 10px;
}

.Disabled,
body .Disabled:hover,
.Posts__item:hover .Posts__supportText .Disabled {
  cursor: no-drop;
  background-color: #dfdede !important;
  /* color: rgb(233, 231, 231) !important; */
  color: rgb(154 148 148) !important;
  pointer-events: none;
}

.Modal {
  height: 100%;
  position: relative;
}
.Modal div {
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
  padding: 30px;
}

.Modal h1 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 20px;
}

.Modal p {
  white-space: break-spaces;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  text-align: justify;
}

.Modal button {
  position: absolute;
  top: 10px;
  right: -50px;
  width: 30px;
  height: 30px;
  font-size: 25px;
  font-weight: bold;
  color: #000;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 1366px) {
  .Posts__profession {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .Posts__profession {
    min-height: 30px;
  }
}

@media (max-width: 768px) {
  .Posts__col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 500px) {
  .Posts__col {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .Modal h1 {
    font-size: 20px;
    line-height: 30px;
  }
  .Modal p {
    font-size: 14px;
    line-height: 18px;
  }
  .Modal div {
    padding: 15px;
  }
}
