.Header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 15px 20px;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.Header__left {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.8);
  line-height: 15px;
  font-size: 11px;
  flex: 0 0 200px;
  max-width: 200px;
  text-align: left;
}

.Header__left span {
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
}

.Header__center {
  flex: 1;
  max-width: 100%;
  font-size: 11px;
  line-height: 15px;
}

.Header__center h1 {
  font-size: 25px;
  line-height: 25px;
}

.Header__center a {
  color: #ffffff;
  text-decoration: none;
}

.Header__right {
  flex: 0 0 200px;
  max-width: 200px;
  text-align: right;
}

.Header__right a {
  background-color: sandybrown;
  border-radius: 5px;
  color: #ffffff;
  font-size: 11px;
  line-height: 25px;
  text-decoration: none;
  padding: 0 10px 0 10px;
  height: 25px;
  display: inline-block;
}

@media (max-width: 600px) {
  .Header {
    flex-direction: column;
  }
  .Header__left,
  .Header__center,
  .Header__right {
    flex: 0 0 auto;
    max-width: 100%;
  }
  .Header__center {
    order: -1;
    margin-bottom: 10px;
  }
  .Header__left {
    margin-bottom: 10px;
    text-align: center;
  }
}
