.Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 15px 15px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.Footer a,
.Footer {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  line-height: 20px;
}
