.App {
  position: relative;
  text-align: center;
  /* background-image: url("./assets/web03-baikal-lake-fishermen.jpg"); */
  background-image: url("./assets/bg1.jpg");
  /* background-image: url("./assets/bg.jpg"); */
  /* background-color: sandybrown; */
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}
