body {
  min-height: 100vh;
}

html {
  font-family: "Nunito", sans-serif;
  color: rgba(0, 0, 0, 0.9);
  min-height: 100vh;
  line-height: 20px;
  font-size: 15px;
  cursor: default;
  width: 100%;
  max-width: 100%;
  /* min-width: 800px !important; */
  /* max-width: 100vw !important; */
}

#chartdiv {
  width: 100%;
  height: 600px;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: inherit;
  font-family: inherit;
  vertical-align: top;
  font-size: 100%;
  padding: 0;
  outline: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.BrainhubCarousel__track,
.BrainhubCarousel__trackContainer > div {
  padding: 30px 0 !important;
}

.BrainhubCarouselItem > div {
  width: 100%;
}

.BrainhubCarousel__arrows {
  background-color: #7a5131;
}

@font-face {
  font-family: "Nunito"; /* Имя шрифта */
  font-weight: 700;
  src: url("./assets/Nunito/Nunito-Bold.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "Nunito"; /* Имя шрифта */
  font-weight: 500;
  src: url("./assets/Nunito/Nunito-SemiBold.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "Nunito"; /* Имя шрифта */
  font-weight: 400;
  src: url("./assets/Nunito/Nunito-Regular.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "Nunito"; /* Имя шрифта */
  font-weight: 300;
  src: url("./assets/Nunito/Nunito-ExtraLight.ttf"); /* Путь к файлу со шрифтом */
}
